<h1>AllTime Save Page</h1>
<p> <%= @a.length %> products in KrogerCheckout51 </p>
<p> <%= @b.length %> products in KrogerTargetCoupon </p>
<p> <%= @c.length %> products in KrogerSavingStar </p>
<p> <%= @d.length %> products in Checkout51TargetCoupon </p>
<p> <%= @e.length %> products in Checkout51SavingStar </p>
<p> <%= @f.length %> products in TargetCouponSavingStar </p>
<p> <%= @g.length %> products in KrogeriBotta </p>
<p> <%= @h.length %> products in iBottaCheckout51 </p>
<p> <%= @i.length %> products in iBottaSavingStar </p>
<p> <%= @j.length %> products in TargetiBottum </p>
<p> <%= @k.length %> products in TripleSave </p>