<h1> SavingStar Save Page </h1>

<h3><%= @products.length %> products in the <%= @store %> DB</h3>
<p> Should be no more than <%= @productsLength %> items.  Current count is <%= @products.length %>.   </p>


<% @products.each do |x| %>
    <p>Title: <%= x.title %> </p>
    <p>Value: <%= x.value %> </p>
<% end %>